/* Right Section Grid */
.rightSection {
  flex: 1;
  width:50vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 cards per row */
  gap: 20px;
}

/* Card Styling */
.card {
  background-color: #1c2951;
  /* Dark Blue */
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Icon + Heading Alignment */
.iconText {
  display: flex;
  align-items: center;
  gap: 10px;
  /* Space between icon and heading */
  margin-bottom: 10px;
}

.icon {
  font-size: 40px;
  color: white;
}


.card h6 {
  color: #3CC3F2;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 16px;
  margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .rightSection {
    grid-template-columns: repeat(2, 1fr);
    /* 2 cards per row for tablets */
  }
}

@media (max-width: 768px) {
  .rightSection {
    grid-template-columns: repeat(1, 1fr);
    /* 1 card per row for mobile */
  }
}